* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.hide {
  display: none;
}

#app {
  padding-top: 2rem;
}

.option__selection input[type="checkbox"] {
  visibility: none;
}

.option__checkbox {
  display: inline-block;
  content: "dasd";
  border: 1px solid dodgerblue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.option__checkbox:checked {
  background-color: dodgerblue;
}

.newsletters {
  overflow: hidden;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0px 0px 40px 10px #dddddd;
          box-shadow: 0px 0px 40px 10px #dddddd;
  padding-top: 1rem;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

.newsletters__title {
  text-align: center;
}

.newsletters__text {
  text-align: center;
}

.newsletters.hide {
  display: none;
}

.options {
  padding: 0 2rem;
  margin: 2rem 0;
}

.option {
  display: -ms-grid;
  display: grid;
  margin: 1rem 0 2rem;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
}

.option__image {
  background-color: #dddddd;
  width: 120px;
  height: 80px;
}

.option__title {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 0 .25rem;
}

.option__text {
  margin: 1rem 0 0.5rem;
}

.option__body {
  padding-left: 1rem;
}

.option__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.option__checkbox {
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.option__checkbox--custom {
  position: relative;
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: 3px solid transparent;
}

.option__checkbox--custom:after {
  position: absolute;
  content: "";
  left: 16px;
  top: 10px;
  height: 15px;
  width: 8px;
  border-radius: 0px;
  border: solid  dodgerblue;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

.option__checkbox:checked ~ .option__checkbox--custom {
  border-color: dodgerblue;
}

.option__checkbox:checked ~ .option__checkbox--custom:after {
  opacity: 1;
}

.submission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0px 0px 40px 10px #dddddd;
          box-shadow: 0px 0px 40px 10px #dddddd;
  width: 60%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submission__title {
  text-align: center;
}

.submission__choice {
  color: #b1b1b3;
}

.submission__opt-out {
  font-size: 0.75rem;
}

.submission__opt-out a {
  color: #323233;
}

.submission__text {
  margin-bottom: 0;
}

.submission__options {
  margin: 0.5rem 0;
}

.submission__option {
  margin: 0.5rem 0;
}

.submission.hide {
  display: none;
}

.email {
  -webkit-box-shadow: 10px 0px 10px 10px #dddddd;
          box-shadow: 10px 0px 10px 10px #dddddd;
  padding: 1rem;
}

.email__form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.email__input {
  background-color: #f5f5f5;
  padding: 1rem;
  font-size: 1.25rem;
  color: #323233;
  border: 1px solid #b1b1b3;
  border-radius: 5px;
}

.email__input::-webkit-input-placeholder {
  color: #b1b1b3;
}

.email__input:-ms-input-placeholder {
  color: #b1b1b3;
}

.email__input::-ms-input-placeholder {
  color: #b1b1b3;
}

.email__input::placeholder {
  color: #b1b1b3;
}

.email__text {
  font-size: 0.75rem;
}

.btn {
  text-transform: uppercase;
  background-color: #4292F4;
  color: white;
  padding: 1rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.75rem 0 1rem;
}

@media screen and (max-width: 1320px) {
  .newsletters {
    width: 70%;
  }
}

@media screen and (max-width: 960px) {
  .newsletters {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .newsletters {
    width: 95%;
  }
  .choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .choice__body {
    padding: 0;
  }
  .choice__body {
    width: 80%;
  }
  .choice__wrapper {
    width: 20%;
  }
  .choice__image {
    display: none;
  }
  .choice__checkbox {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .choice__checkbox::after {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dddddd;
  }
  .email__form-control {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */